# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Packaging
build/
dist/
*.egg-info/

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# Data
# =========================
data/raw/*
data/processed/*
*.db
*.sqlite
*.sqlite3

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Testing / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Code quality
# =========================
.ruff_cache/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db